body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    margin: 4%;
    padding: 2em;
}

a {
    text-align: center;
    font-size: small;
    color:rgb(0, 0, 0);
}
h1:hover, h2:hover {
    transition-duration: 2s;
    color: rgb(44, 155, 55);
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-weight: bold;
}

lefty {
    text-align: left;
    padding: 2em;
    background-color: white;
}

righty {
    text-align: right;
    padding: 2em;
    background-color: rgb(210, 255, 225);
}

l {
    font-size: 5em;
}


/* phone screens */
@media (max-width: 400px) {
    body {
        flex-direction: column;
    }
    lefty {
        text-align: left;
    }
    righty {
        text-align: right;
    }

}

/* desktop screens */
@media (min-width: 400px) and (max-width: 1500px) {
    body {
        flex-direction: row;
        row-gap: 1em;
    }
    a {
        text-align: left;
        padding-right: 4em;
    }
    lefty, righty {
        text-align: center;
        padding: 4em;
        height: auto;
    }
    l {
        font-size: 1em;
    }
}